* {
    box-sizing: border-box;
}

:root {
    --clr-bg: rgb(210, 173, 230);
}

body {
    color: #454545;
    font-family: Arial, Helvetica, sans-serif;
}

main {
    position: relative;

    display: flex;
    flex-direction: column;
    
    width: 300px;
    min-height: 260px;
    
    padding: 20px;
    background-color: var(--clr-bg);
    margin: 100px auto;
}

main > * {
    margin: 0;
    text-align: center;
    line-height: 1.5;
}

button.btn-cta {
    align-self: center;

    width: 80%;
    padding: 7px;
    background-color: rgb(241, 206, 118);
    border: none;
    border-radius: 10px;
    margin-block-start: 1em;
    
    color: whitesmoke;
    font-size: 1.2em;
    font-weight: bold;
    text-transform: uppercase;
}

button.btn-close {
    position: absolute;
    top: -8px;
    right: -8px;

    padding: 0 6px;
    border: 1px solid lightgray;
    border-radius: 50%;
}

.corner {
    position: absolute;
    width: 40px;
    height: 40px;
    /* background-color: #fff; */
}

main :nth-child(1 of .corner) {
    inset: -4px auto auto -4px;

    border-block-start: 8px solid lightblue;
    border-inline-start: 8px solid lightblue;
}

main :nth-child(2 of .corner) {
    inset: auto -4px -4px auto;
    
    border-block-end: 8px solid lightblue;
    border-inline-end: 8px solid lightblue;
}