* {
    box-sizing: border-box;
}

body {
    margin: 0;
}

main {
    /* position: relative; */
    
    width: 30vw;
    height: 30vw;
    margin: 100px auto;
    background-color: lightgray;
    opacity: .9;
}

.blue-box {
    /* position: absolute; */
    /* top: 100px;
    left: 100px; */

    width: 6vw;
    height: 6vw;

    background-color: lightsteelblue;
    opacity: .9;
}

h1 {
    padding: 0 1em;
    margin: 0;

    font-family: arial,sans-serif;
    font-size: 3em;
}