* {
    box-sizing: border-box;
}

body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

h1 {
    margin: 0;
    font-size: 1.4em;
}

.box {
    position: relative;
    /* top: 100px; */
    /* left: 100px; */

    display: flex;
    align-items: center;
    justify-content: center;
    
    width: 240px;
    height: 240px;

    background-color: rgba(211, 211, 211, 0.6);
    margin: 0 auto;
}

.box * {
    outline: 1px solid lightgray;
}

.flex-center {
    display: flex;
    align-items: center;
    justify-content: center;
}

.inner-box-1 {
    position: relative;
    width: 180px;
    height: 180px;
    
    background-color: lightblue;
}

.inner-box-2 {
    position: relative;
    width: 120px;
    height: 120px;

    background-color: orangered;
}

.inner-box-3 {
    position: absolute;
    /* top: 10px;
    left: 10px; */

    width: 60px;
    height: 60px;
    
    background-color: whitesmoke;
}

/* .inner-box-3:first-child {
    top: 10px;
    left: 10px;
} */

/* .inner-box-3:last-child {
    bottom: 10px;
    right: 10px;
} */